<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.AdminMapper">

	<insert id="addStudent">
 		insert into user_table values(#{account},#{password},"学生")
		insert into student_table(user_account) values(#{account})
	</insert>
	
	<insert id="addTeacher">
 		insert into user_table values(#{account},#{password},"教师")
		insert into teacher_table(user_account) values(#{account})
	</insert>
	
	<insert id="addAdmin">
 		insert into user_table values(#{account},#{password},"管理员")
	</insert>
	
	<select id="query" parameterType="String" resultMap="user">
		SELECT user_account,user_permission
		FROM user_table
		<where>
			<if test="account !=null and account!=''">
				and user_account = #{account}
			</if>
		</where>
	</select>
	<resultMap type="User" id="user">
		<id column="user_account" property="account"/>
		<result column="user_permission" property="permission"/>
	</resultMap>
	
	<delete id="deleteStudent">
		DELETE FROM student_table 
		WHERE user_account=#{account};
		DELETE FROM user_table
		WHERE user_account=#{account}
	</delete>
	
	<delete id="deleteTeacher">
		DELETE FROM teacher_table
		WHERE user_account=#{account};
		DELETE FROM user_table
		WHERE user_account=#{account}
	</delete>
	
	<delete id="deleteAdmin">
		DELETE FROM user_table
		WHERE user_account=#{account}
	</delete>
	
</mapper>