<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.AdminMapper">

	<insert id="addStudent">
		INSERT INTO user_table
		VALUES(#{account},#{password},"学生");
		INSERT INTO student_table(user_account)
		VALUES(#{account})
	</insert>

	<insert id="addTeacher">
		INSERT INTO user_table
		VALUES(#{account},#{password},"教师");
		INSERT INTO teacher_table(user_account)
		VALUES(#{account})
	</insert>

	<insert id="addAdmin">
		INSERT INTO user_table
		VALUES(#{account},#{password},"管理员")
	</insert>

	<select id="query" parameterType="String" resultMap="user">
		SELECT user_account,user_permission
		FROM user_table
		<where>
			<if test="account !=null and account!=''">
				and user_account LIKE "%"#{account}"%"
			</if>
		</where>
	</select>
	<resultMap type="User" id="user">
		<id column="user_account" property="account" />
		<result column="user_permission" property="permission" />
	</resultMap>

	<delete id="deleteStudent">
		DELETE FROM student_table
		WHERE user_account=#{account};
		DELETE FROM user_table
		WHERE
		user_account=#{account}
	</delete>

	<delete id="deleteTeacher">
		DELETE FROM teacher_table
		WHERE
		user_account=#{account};
		DELETE FROM user_table
		WHERE
		user_account=#{account}
	</delete>

	<delete id="deleteAdmin">
		DELETE FROM user_table
		WHERE user_account=#{account}
	</delete>

	<update id="updatePassword">
		UPDATE user_table
		SET user_password=#{password}
		WHERE user_account=#{account}
	</update>

	<insert id="addCourse" parameterType="String">
		INSERT INTO course_table
		VALUES(#{courseName})
	</insert>

	<select id="queryCourseRelation" resultMap="courserel">
		SELECT course_id,user_account
		FROM teacher_course_table
		<where>
			<if test="course != null and course != ''">
				and course_id LIKE "%"#{course}"%"
			</if>
			<if test="teacher!=null and teacher!=''">
				and user_account LIKE "%"#{teacher}"%"
			</if>
		</where>
	</select>
	<resultMap type="Course" id="courserel">
		<result column="course_id" property="courseName" />
		<result column="user_account" property="teacherID" />
	</resultMap>

	<select id="queryCourse" parameterType="String" resultMap="course">
		SELECT course_id
		FROM course_table
		WHERE course_id LIKE "%"#{courseName}"%"
	</select>
	<resultMap type="Course" id="course">
		<id column="course_id" property="courseName" />
	</resultMap>

	<insert id="assignCourseRelation">
		INSERT INTO
		teacher_course_table(user_account,course_id)
		VALUES(#{teacher},#{course})
	</insert>

	<delete id="deleteCourseRelation">
		DELETE FROM teacher_course_table
		WHERE
		course_id=#{course} and user_account=#{teacher}
	</delete>

	<delete id="deleteCourse" parameterType="String">
		DELETE FROM course_table
		WHERE course_id=#{course}
	</delete>

	<insert id="addExam">
		INSERT INTO
		exam_table(exam_id,exam_begintime,exam_period,exam_endtime,course_id,exam_discript,exam_place,exam_supervisor,paper_ids)
		VALUES(#{exam},#{start},#{duration},#{end},#{course},#{description},#{place},#{supervisor},#{paper})
	</insert>
	
	<select id="queryExam" resultMap="exam">
		SELECT *
		FROM exam_table
		<where>
			<if test="exam != null and exam != ''">
				and exam_id LIKE "%"#{exam}"%"
			</if>
		</where>
	</select>
	<resultMap type="Exam" id="exam">
		<id column="exam_id" property="id"/>
		<result column="exam_begintime" property="begintime"/>
		<result column="exam_endtime" property="endtime"/>
		<result column="exam_period" property="period"/>
		<result column="paper_ids" property="ids"/>
		<result column="exam_discript" property="discript"/>
		<result column="exam_place" property="place"/>
		<result column="course_id" property="courseId"/>
		<result column="exam_supervisor" property="supervisor"/>
	</resultMap>
	
	<delete id="deleteExam" parameterType="String">
		DELETE FROM exam_table
		WHERE exam_id=#{exam}
	</delete>
	
	<update id="updateExam">
	 UPDATE exam_table
	 SET exam_begintime=#{start},exam_period=#{duration},exam_endtime=#{end},exam_discript=#{description},exam_place=#{place},exam_supervisor=#{supervisor},paper_ids=#{paper}
	 WHERE exam_id=#{exam} and course_id=#{course}
	</update>
	
	<select id="queryPaperByCourse" parameterType="String" resultType="String">
		SELECT paper_id
		FROM paper_table
		WHERE course_id=#{course}
	</select>
</mapper>