<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.NameMapper">

	<select id="queryStuName" resultType="String" parameterType="String">
		SELECT student_name
		FROM student_table
		WHERE user_account = #{account}; 
	</select>
	<select id="queryTeaName" resultType="String" parameterType="String">
		SELECT teacher_name
		FROM teacher_table
		WHERE user_account = #{account}; 
	</select>
	
</mapper>