<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.QuestionMapper">

	<insert id="addQuestion" parameterType="Question">
 		insert into question_table values(#{id},#{course},#{type},#{stem},#{use},#{answer},'',#{point},#{maker});
	</insert>
	
	<select id="query" resultMap="question">
		SELECT question_id,question_type,question_stem,question_point,question_maker,question_answer
		FROM question_table
		<where>
			<if test="questionId !=null and questionId!=''">
				and question_id = #{questionId}
			</if>
			<if test="true">
				and course_id = #{courseId}
			</if>
		</where>
	</select>
	<resultMap type="Question" id="question">
		<id column="question_id" property="id"/>
		<result column="question_type" property="type"/>
		<result column="question_stem" property="stem"/>
		<result column="question_point" property="point"/>
		<result column="question_maker" property="maker"/>
		<result column="question_answer" property="answer"/>
	</resultMap>
	
	<delete parameterType="String" id="deleteQuestion">
		Delete from question_table where question_id = #{questionId};
	</delete>
	
	<update id="changeQuestion" parameterType="Question">
		Update question_table
		Set course_id = #{course},question_type=#{type},question_stem=#{stem},question_answer=#{answer},question_point=#{point}
		Where question_id = #{id};
	</update>
	
	<select id="queryById" resultMap="question">
		SELECT question_id,question_type,question_stem,question_point,question_maker,question_answer
		FROM question_table
		WHERE question_id = #{questionId};
	</select>
	
	
</mapper>