<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.QuestionMapper">

	<insert id="addQuestion" parameterType="Question">
 		insert into question_table values(#{id},#{course},#{type},#{stem},#{use},#{answer},'',#{point},#{maker});
	</insert>
	
</mapper>