<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.QuestionMapper">

	<insert id="addQuestion" parameterType="Question">
 		insert into question_table values(#{id},#{course},#{type},#{stem},#{use},#{answer},'',#{point},#{maker});
	</insert>
	
	<select id="query" parameterType="String" resultMap="question">
		SELECT question_id,question_type,question_stem,question_point,question_maker
		FROM question_table
		<where>
			<if test="questionId !=null and questionId!=''">
				and question_id = #{question_id}
			</if>
		</where>
	</select>
	<resultMap type="Question" id="question">
		<id column="question_id" property="id"/>
		<result column="question_type" property="type"/>
		<result column="question_stem" property="stem"/>
		<result column="question_point" property="point"/>
		<result column="question_maker" property="maker"/>
	</resultMap>
	
</mapper>