<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="com.neuedu.demo.dao.StudentMapper">
	<select id="joinExam" resultMap="exam">
 		select exam_id, exam_name, exam_begintime, exam_period,
 		exam_endtime , exam_discript ,paper_ids ,exam_place ,
 		exam_supervisor 
 		from exam_table 
	</select>>
	<resultMap type="Exam" id="exam">
		
		
		
	</resultMap>
</mapper> -->