<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.demo.dao.StudentMapper">

<!-- 	<select id="joinExam" resu>
 		select exam_id id,exam_name name,exam_begintime begintime,exam_period period,
 		exam_endtime endtime,exam_discript discript,paper_ids paperId,exam_place place,
 		exam_supervisor supervisor 
 		from exam_table 
	</select>> -->
</mapper>
