<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.demo.dao.StudentMapper">

	 	<select id="getPaperId" parameterType="String" resultType="String">
			select paper_ids
			from exam_table
			where exam_id = #{examId}
		</select>
		  <select id="getPaper" parameterType="String" resultMap="paper">
			select * 
			from paper_table
			where paper_id = #{id}
		</select>
		<resultMap type="Paper" id="paper">
			<id column="paper_id" property="id"/>
			<result column="course_id" property="course"/>
			<result column="paper_passpoint" property="passPoint"/>
			<result column="papper_fullpoint" property="fullPoint"/>
			<result column="paper_questions" property="questionStr"/>
		</resultMap>
 	<select id="joinExam" resultMap="exam">
 		select * 
 		from exam_table 
	</select>
	<select id="isExamDone" resultType="String">
		select exam_done
		from student_table
		where  user_account=#{studentAccount}
	</select>
	<resultMap type="Exam" id="exam">
		<id column="exam_id" property="id"/>
		<result column="exam_begintime" property="begintime"/>
		<result column="exam_endtime" property="endtime"/>
		<result column="exam_period" property="period"/>
		<result column="paper_ids" property="ids"/>
		<result column="exam_discript" property="discript"/>
		<result column="exam_place" property="place"/>
		<result column="course_id" property="courseId"/>
		<result column="exam_supervisor" property="supervisor"/>
		
	
	</resultMap>
	 
	<insert id="submitAnswer">
		INSERT INTO answer_table(exam_id,student_account,answer_content,paper_id) VALUES (#{examId},#{studentAccount}
			,#{answerStr},#{paperId});
		UPDATE student_table SET exam_done = concat(exam_done,concat(",",#{examId})) WHERE user_account=#{studentAccount}
	
	</insert> 
	<select id="scoreQuery" parameterType="String" resultMap="score">
		select answer_result,answer_points from answer_table where student_account = studentId
	</select>
	<resultMap type="Score" id="score">
		<result column="answer_result" property="result"/>
		<result column="answer_points" property="points"/>
	
	</resultMap>
	<select id="mockExam" resultMap="mock">
		select * from question_table
		where question_use="练习"
	</select>
	<resultMap type="Question" id="mock">
		<id column="question_id" property="id"/>
		<result column="question_type" property="type"/>
		<result column="question_stem" property="stem"/>
		<result column="question_point" property="point"/>
		<result column="question_maker" property="maker"/>
		<result column="question_answer" property="answer"/>
		<result column="course_id" property="course"/>
	</resultMap>
	
	
	
	
	
</mapper>