<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.StudentMapper">

	<select id="login" resultMap="student">
		SELECT student_id, student_name, class_id
		FROM student_table
		WHERE student_id = #{id} AND student_password = #{password} 
	</select>
	<resultMap type="Student" id="student">
		<id column="student_id" property="id"/>
		<result column="student_name" property="name"/>
		<result column="student_gender" property="gender"/>
		<result column="class_id" property="class_id"/>
	</resultMap>
	
	<select id="searchExam" resultMap="exam">
		SELECT exam_id,exam_subject,exam_score
		FROM student_exam_table
		<where>
			and student_id=#{studentId}
			<if test="examId!=null and examId!=''">
				and exam_id=#{examId}
			</if>
		</where>
	</select>
	<resultMap type="Examination" id="exam">
		<id column="exam_id" property="id"/>
		<result column="exam_subject" property="subject"/>
		<result column="exam_score" property="score"/>
	</resultMap>
	
</mapper>